<h2>Getting Started</h2>
<p>
  Chess is a game of strategy and tactics. Each player commands an army of 16 chessmen --- pawns and other pieces (the
  king, queen, bishops, knights, and rooks).

  A well-played chess game has three stages. In the opening, the players bring out their forces in preparation for
  combat. The middlegame begins as the players maneuver for position and carry out attacks and counterattacks. The final
  stage is the endgame when, with fewer pawns and pieces left on the board, it is safer for the kings to come out and
  join the final battle.

  As play proceeds, each player will capture some of the opponent's men; often, the capturing pieces are immediately
  recaptured. As long as the piece a player gives up is generally equal to the piece he gets in return, we say the
  players are exchanging. If you unintentionally place a piece where it can be captured without getting a piece of equal
  value in return, we say that you put that piece en prise. (This is a French term that literally means "in take.")
  Sometimes a player may place a piece en prise in order to trick an opponent. If the opponent captures the offered man,
  it may leave him open to attack.

  You're Ready to Go!

  It's time for you to take a look at these ten tips to help you learn some simple ways to win more games:
<ol>
  <li>Look at your opponent's move.</li>
  <li> Make the best possible move.</li>
  <li> Have a plan. </li>
  <li> Know what the pieces are worth.</li>
  <li> Develop quickly and well. </li>
  <li> Control the center. </li>
  <li> Keep your king safe.</li>
  <li> Know when to trade pieces. </li>
  <li> Think about the endgame. </li>
  <li> Always be alert. </li>
</ol>
Don't rush. Take your time and be sure to study the examples carefully. Then go out and practice - and have some fun!

</p>
