<div class="panel-heading">
  <span class="label label-default label-center">{{title}}</span>
</div>

<p>
  <br>

  <a
    href="https://www.chesscentral.com/pages/learn-chess-play-better/chess-strategy-for-chess-openings-and-chess-principles.html">Chess
    Strategy For Chess Openings And Chess Principles</a>
  <br>

  <a href="https://thechessworld.com/articles/middle-game/chess-strategy-for-beginners-complete-guide/">Chess Strategy
    for Beginners: Complete Guide</a>
  <br>

  <a href="https://www.chessable.com/blog/2018/01/19/5-beginner-chess-tips/">5 Essential Chess Tips for Beginners</a>

  <br>
  <a href="http://chesshints.com/top-10-chess-tips-beginner/">Top 7 Chess Strategy Tips for Beginners
  </a>

  <br>
  <a href="http://www.chessfornovices.com/chessstrategy101.html">Chess Strategy 101: Getting Started for Beginners </a>

  <br>
  <a href="https://www.gamesver.com/21-must-know-chess-tips-for-beginners-what-i-wish-i-knew/">21 Must-Know Chess Tips
    for Beginners (What I Wish I Knew!)</a>

  <br>
  <a href="http://www.expertchessstrategies.com/chess-tips.shtml">Most Useful Chess Tips
  </a>
  <br>
  <a href="https://www.masterclass.com/articles/8-chess-strategy-tips-from-garry-kasparovs-winning-chess-routine">8
    Chess Strategy Tips From Garry Kasparov’s Winning Chess Routine</a>
  <br>
  <a href="https://thechessworld.com/articles/training-techniques/basic-chess-tips/">24 Essential Chess Tricks And Tips
    That Will Make Your Chess Better
  </a>
  <br>
  <a href="https://www.chesscoachonline.com/5-best-advanced-chess-strategy">
    5 Best Advanced Chess Strategy</a>
  <!-- ------------------------ -->
  <br>
  <a href="https://www.ichess.net/blog/chess-strategy-tips-for-beginners/">
    Chess Strategy Tips for Beginners – The Definitive Guide</a>
  <br>
  <a href="https://www.thesprucecrafts.com/chess-strategy-tactics-4102130">
    Essential Chess Strategy and Tactics</a>
  <br>
  <a href="https://chess-teacher.com/best-chess-strategy/">
    The Best Chess Strategy (simple and powerful)</a>
  <br>
  <a href="https://www.kaoori.co.uk/must-know-chess-tips-tricks/">
    Must Know Chess Tips & Tricks</a>
  <br>
  <a href="https://www.chessmasterschool.com/chess-strategy.html">
    7 Grandmaster Chess Strategy Techniques</a>
  <br>
  <a href="https://www.suffernchessclub.com/top-10-tips-methods-chess-attacks/">
    Top 10 Tips and Methods for Successful Chess Attacks</a>
  <br>
  <a href="https://herculeschess.com/how-to-get-better-at-chess/">
    How To Get Better At Chess: 11 Tips To Improve Your Game</a>
  <br>
</p>
